
<template>
  <!-- eslint-disable max-len -->
  <div
    class="container"
    v-if="isLoading"
  >
    Enviando...
  </div>
  <div class="text-center form-generic form-generic--alert" v-else-if="isSent">
    <h1 class="title text-2xl md:text-4xl font-bold color-aqua">¡Muchas gracias!</h1>
    <p>En breve me comunicaré personalmente contigo.</p>
  </div>
  <form id="the-form" v-else @submit.prevent="sendForm" class="col-sm-7 formclass">
    
    <div
      class=" bg-yellow-400 rounded p-2 mb-4 text-center"
      v-if="formHasError"
    >
      <p>Hubo un error enviando tus datos, por favor intentalo de nuevo</p>
    </div>
   <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <div class="">
  

      <div class="my-4 ">
      <label for="first_name">Nombre</label><br>
      <input 
      id="basic-first-name"
      v-model="model.Nombre"
      class="w-full rounded-full border-green-800 border-2" 
      type="text" name="first_name" 
      required placeholder=" Nombre completo">
    </div>

    <div class="my-4">
        <label for="first_name">Teléfono</label><br>
        <input 
        id="basic-last-name"
        v-model="model['Teléfono']"
        class="w-full rounded-full border-green-800 border-2" 
        type="number" name="first_name" 
        required placeholder=" 10 digitos">
      </div>

       <div class="my-4">
        <label for="first_name">Correo electrónico</label><br>
        <input 
        id="basic-correo"
        v-model="model['Correo']"
        name="Correo"
        class="w-full rounded-full border-green-800 border-2" 
        type="mail" 
        required placeholder=" minombre@midominio.com">
      </div>

      <div class="my-4">
        <label for="first_name">Detalles de tu instalación</label><br>
        <textarea 
        id="basic-second-name"
        v-model="model.Mensaje"
        class="w-full border-green-800 border-2" 
        name="descripcion" cols="40" rows="5" 
        placeholder="Mensaje"></textarea>
      </div>

        <div class="checkbox my-4 ">
      <label for="first_name">Producto:</label><br>
     
                        <label><input type="checkbox"  id="Comprar" value="Pasto deportivo" v-model="model.Producto"> Pasto deportivo</label><br>
                        <label><input type="checkbox" id="Rentar" value="Pasto residencial" v-model="model.Producto"> Pasto residencial</label><br>
                        

 
    </div>
    
    
    



    

    <div
      class="mb-2 tb:mb-0 sm:flex justify-between items-center mt-2 flex-wrap"
    >
      <label class="mr-2 block">
        <input
          id="TOS"
          v-model="TOS"
          type="checkbox"
          class="form-checkbox"
          name="TOS"
          required="true"
        />
        Acepto el
        <a href="#" target="_blank"
          >Aviso de privacidad</a
        >
      </label>
      <p class="text-left mt-4 sm:mt-0 sm:text-left">
        <button
          type="submit"
          class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-800 border-gray-800 hover:border-transparent hover:text-white hover:bg-green-500 mt-4 lg:mt-0"
        >
          Enviar
        </button>
      </p>
    </div>
    
  </form>
  <!-- eslint-enable max-len -->
</template>
<script>
import axios from 'axios';
import formMixin from './form-mixin';
/**
 * Formulario genérico
 *
 * @version 1.6
 */

export default {
  name: 'FormGeneric', 
  mixins: [formMixin],
  data() {
    return {
      TOS: false,
      isSent: false,
      isLoading: false,
      formHasError: false,
      otrosModelos: false,
      model: {
        Nombre: '',
        'Teléfono': '',
        Producto: [],
        'Mensaje': '',
        'E-mail': ''
      }
    };
  },
  
  methods: {
    sendForm() {
      Promise.all([this.sendToSheets()])
        .then(() => {
          this.isLoading = false;
          this.isSent = true;

          console.log('Sending to analiticas');
          window.gtag('event', 'generate_lead', {
            event_label: 'Formulario de contacto enviado.',
            event_category: 'engagement'
          });
          console.log('Sending to addwords');
          window.gtag('event', 'conversion', {
            send_to: 'AW-417466204'
         });
        })
        .catch(error => {
          this.isLoading = false;
          this.formHasError = true;
          console.error(error);
          window.gtag('event', 'exception', {
            description: 'ERROR_FORM_SEND',
            fatal: true // set to true if the error is fatal
          });
        });
    },
    sendToSheets() {
      return this.formSend();
    }

  }
};
</script>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>
